.header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}


.header__logo{
    height: 25px;
    align-items: center;
    object-fit: contain;
    margin-left: 20px;
}
.header__input{
    display: flex;
    align-items: center;
    width: 80%;
    border: 1px solid lightgray;
}

.header__input input{
    flex: 1;
    width: 1185px;
    border: none;
}


.header__icons{
    display: flex;
    align-items: center;
}

.header__icon{
    margin-right: 8px;
}

@media screen and (max-width:720px) {
   .header__icons{
       display: none;
   }
   .header__input{
       width:50%;
   }
   .header__input input{
       width: 150px;
   }
   .menu{
       width:0;
       display: none;
   }
}